* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s;
}

html, body {
    height: 100vh;
    background: linear-gradient(rgba(5, 67, 93, 0.56),rgba(5, 67, 93, 0.56)),url(images/Background.png);
    background-repeat:repeat;
    background-size:cover;
     
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    
    
}



img#title {
    width: 300px;
}

.form {
    
    
    padding-inline: 25px;
    
    max-width: 600px;
    width: 100%;
}

.question {
    height: 1fr;
    width: 90%;
    padding-block: 50px;
    padding-inline: 30px;
    background-color: rgba(3, 30, 53, 0.762);
    border-radius: 20px;
    margin: 25px;
    margin-block: 30px;
}

.quiz-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

h2#question-display {
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-block: 20px;
    text-shadow: 3px 3px 3px black;
    
}

input#playerName {
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px rgb(93, 132, 7) solid;
    margin-block: 20px;


}

p#alert-result {
    text-align: center;
    color: rgb(255, 36, 36);
    font-size: 12px;
    height: 15px;
    text-shadow: 2px 2px 1px rgb(80, 63, 63);
}

button#start-button {
    background-color: rgb(17, 104, 139);
    border: 0;
    cursor: pointer;
    color: aliceblue;
    padding: 15px;
    width: 50%;
    margin-block: 10px;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 10px;
    transition: all 0.1s ;
    margin-inline:25%;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgb(8, 64, 66);
    
}

button#start-button:hover{
    background-color: rgb(12, 82, 107);
    transform: scale(1.02,1.02);
    border: 3.9px rgb(255, 255, 255) solid;
    font-size: 20px;
    font-weight:bold ;
}

button#start-button:active{
    transform: scale(1,1);
    background-color: rgb(59, 136, 175);
    border: 3.9px rgb(255, 255, 255) solid;
}

.answer-button {
    position: static;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: rgb(130, 220, 208);
    border-radius: 20px;
    padding: 10px 20px;
}

div#next-button {
    grid-column: 1 / span 4;
}





.answer-button button, div#next-button button {
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    border: 2px rgb(0, 0, 0) solid;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(39, 44, 44);
    
    transition: all 0.2s;
}



button#choice1 {
    background-color: rgb(211, 203, 131);
}
button#choice2 {
    background-color: rgb(116, 163, 227);
}
button#choice3 {
    background-color: rgb(138, 243, 96);
}
button#choice4 {
    background-color: rgb(241, 131, 131);
}

.answer-button button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transform: scale(1.02,1.02);
}

.answer-button button:active {
    transform: scale(0.9,0.9);
}

.display-score {
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 252, 252);
    
    padding: 40px 5%;
    border-radius: 20px;
    transition: transform 0.2s;
    background-color: rgba(3, 30, 53, 0.762);
    
}

.display-score-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.display-score h1 {
    text-align: center;
    color: rgb(235, 210, 177);
    font-size: 200%;
    margin-bottom: 20px;
    
}

.display-score h3 {
    text-align: center;
    color: rgb(225, 216, 86);
    font-size: 120%;
    margin-bottom: 10px;

}

.display-score p {
    text-align: center;
    font-size: 150%;
    color: rgb(244, 254, 244);
    font-weight: bold;
}

.display-score img {
    margin-bottom: 30px;
    width: 120px;
    border-radius: 100%;
}

span#player-name {
    color: greenyellow;
}

.display-score-container button{
    margin-top: 20px;
    background-color: rgb(237, 159, 159);
    padding: 15px 30px;
    width: 25%;
    font-size: 18px;
    font-weight: bold;
    border: 2px black solid;
    border-radius: 20px;
    transition: all 0.2s;
}
.display-score-container button:hover{
    transform: scale(1.02,1.02);
    background-color: rgb(228, 195, 195);
    cursor: pointer;
}
.display-score-container button:active{
    transform: scale(0.9,0.9);
    background-color: rgb(203, 110, 110);
    cursor: pointer;
}


div#button-subject {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

div#button-subject button{
    padding: 20px;
    border: 5px white solid;
    border-radius: 10px;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(12, 82, 107);
    transition: all 0.2s;
}

div#button-subject button:hover{
    transform: scale(1.05,1.05);
    cursor: pointer;
}


@media only screen and (max-width:600px){
    .answer-button {
        display: flex;
        flex-direction: column;
    }

    .question {
        height: 1fr;
        padding-block: 10%;
        margin-block: 20%;

    }

    h2#question-display {
        font-size: 150%;
    }

    div#next-button {
        height: 150%;
        
    }

    div#next-button button {
        
        font-size: 18px;
    }


    .answer-button button{
        padding-block: 5%;
        min-height: 60px;
        font-size: 18px;
    }

   .display-score {
        width: 20%;
        padding-inline: 1px;
        
        
   }

   .display-score h1 {
        font-size: 150%;
   }

   .display-score h3 {
        text-align: center;
        color: rgb(225, 216, 86);
        font-size: 120%;
        margin-bottom: 10px;

    }

    .display-score p {
        text-align: center;
        font-size: 150%;
        color: rgb(244, 254, 244);
        font-weight: bold;
    }
    
    .display-score-container button {
        max-width: 350px;
        width: 90%;
        margin: 20px;
        
    }
}